html{
  font-size:16px;
  font-family: 'Cabin', sans-serif;
}


/*Headings*/
h1,h2,h3{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size:1.8rem;
  font-weight: 300;
}
h2{
  font-size:1.3rem;
  font-weight: 400;
}
h3{
  font-size:1.1rem;
  font-weight: 400;
}


/*header*/
header h1{
  font-size: 3rem;
}

header figure img{
  max-width:10rem;
}
